<div class="container w-1/2 border border-sky-700 m-auto mt-10 p-8 rounded ">

    <h1 class="mb-5 text-3xl font-semibold">Validaciones:</h1>


    <form [formGroup]="formLogin" (submit)="send()">
        <div class="m-4 flex">
            <label class="form-label mr-5 p-2 text-xl font-medium  text-blue-700">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control pl-3 border border-sky-900 rounded w-3/4" placeholder="nombre">
        </div>
        <div class="m-4 flex">
            <label class="form-label mr-11 p-2 text-xl font-medium  text-blue-700">Email:</label>
            <input type="text" class="form-control pl-3 border border-sky-900 rounded w-3/4" placeholder="email" id="email" formControlName="email">

        </div>

        <div class="m-4">
            <label class="form-label mr-11 p-2 text-xl font-medium  text-blue-700 rounded">Mensaje</label>
            <textarea class="pl-3 pt-2 form-control ml-2 border border-sky-900 rounded w-full" rows="4" id="mensaje" formControlName="mensaje"></textarea>

        </div>

        <div class="m-4">
            <button class="btn-primary ml-3 border p-2 rounded px-5 bg-green-500 text-white ">Confirmar</button>
        </div>

    </form>


    <div *ngIf="aceptado == true" class="bg-green-600 text-center text-xl font-semibold p-4 ml-5 mt-3 text-white rounded">
        Todos los datos son validos
    </div>
    
    <div *ngIf="rechazado == true"class="bg-red-700 text-center text-xl font-semibold p-4 ml-5 mt-3 text-white rounded">
        Datos incorrectos
    </div>


    <div class="bg-black text-base font-semibold p-4 ml-5 mt-3 text-amber-400 rounded">
        {{formLogin.value | json}}
    </div>


</div>